/****** General ***********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #9356DC;
    --secondary-color: #FF79DA;
    --tertiary-color: #99E2D0;
}

.fa-solid {
    color: #353535;
}

html, body {
    font-size: 16px;
    background-color: white;
    color: #353535;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1,h2 {
    font-weight: bold;
    font-size: 24px;
    color: black;
}

img {
    width: 250px;
}

a{
    text-decoration: none;
    color: black;
}

/****** Header ***********/
.container-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}


.btn-back-container {
    display: none;
}

.container-header-logo{
    margin-top: 14px;
    margin-bottom: 14px;
}

.logo {
    width: 168px;
}

.location-container {
    display: flex;
    justify-content: center;
    gap: 16px;
    background-color: #EAEAEA;
    width: 100%;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5); /* Ajout de l'ombre avec une couleur grise foncée */
    padding-top: 14.5px;
    padding-bottom: 14.5px;
}

.icone-location-container, .adress-location {
    display: flex;
    align-items: center;
}

.adress-location{
}

.adress-location-txt{
    font-size: 16px;
    font-weight: 500;
    color: #353535;
    max-width: 125px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

/****** Entete ***********/
.entete {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 39px;
    margin-bottom: 57px;
}

.entete-title-container {
    margin-left: 42px;
    margin-right: 58px;
}

.entete-btn-container{
    margin-top: 27px;
}

.entete-btn{
    border-radius: 20px;
    background: linear-gradient(var(--secondary-color),var(--primary-color));
    color: white;
    padding: 13px 18.75px;
    border: none;
    font-size: 16px;
    font-weight: 500; 
}
/****** Fonctionnement ***********/

.fonctionnement{
    margin-top: 48px;
    margin-left: 20px;
}

.fonctionnement-nav{
    margin-top: 26px;
}

.fonctionnement-nav-container{
    list-style-type: none;
}

.fonctionnement-nav-txt{
    font-weight: 500;
    width: max-content;
    padding-top: 24px;
    padding-bottom: 21px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0px 4px 3px rgba(77, 76, 76, 0.453); /* Ajout de l'ombre avec une couleur grise foncée */
}

.fonctionnement-nav-link{
    display: flex;
}

.fonctionnement-pastille{
    position: absolute;
    left: -2px;
    background-color: var(--primary-color);
    border-radius: 20px;
    padding-left: 8px;;
    width: 22px;
    font-size: 14px;
    font-weight: 500;
    color: white;
}

.fonctionnement-icone{
    color: gray;
}

a:hover .icone-fonctionnement{
    color: var(--primary-color);
}

/****** Restaurants ***********/
